<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - God Runner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

</head>
<body>
    <header>
        <!--    EL BACKGROUND COLOR LO E DEJAU COMO ESTABA, HAY QUE METER...-->

    </header>
    <div>
        <div class="banner1">
            <div class="container ">
                <div class="row" align="center">
                    <div class="col-2 align-self-center ">
                        <img src="~/images/front_isaac.png" width="80" height="100" id="isaacimg" />
                    </div>
                    <div class="col align-self-center" align="center">
                        <img src="~/images/logo1w.png" width="500" />
                    </div>
                    <div class="col-2  align-self-center">

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-menua" style="background-color: #174774">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/">Home </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="AllPartida" asp-action="Index">Partidak</a>
                            <!--Metodo para enseñar las partidas-->
                            <a class="dropdown-item" asp-controller="Partida" asp-action="Index"></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Top Gamers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>

                                @await Component.InvokeAsync("Partidak", new { id = 1 })

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-controller="AllPartida" asp-action="HallOfFame" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Top Games
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>

                                @await Component.InvokeAsync("Jokalariak", new { id = 1 })

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-controller="AllPartida" asp-action="HallOfShame" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Worst Games
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>

                                @await Component.InvokeAsync("Wgames", new { id = 1 })

                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="Lore/lore">Lore</a>

                        </li>

                        <partial name="_LoginPartial" />


                    </ul>

                </div>
            </div>

        </nav>
        <div class="collapse navbar-collapse erlatiboa" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown active full-width">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hashpopup="true"
                       aria-expanded="false">Top Gamers<span class="caret"></span></a>
                    @await Component.InvokeAsync("Partidak", new { id = 1 })
                </li>
            </ul>
        </div>
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>







    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GodRun_WebApi - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
