@page
@model GodRun_API_el_bueno_.Pages.Inkesta.IndexModel
@{
    ViewData["Title"] = "Index";
}


<!--

galdera 1
galdera 2
galdera 3
galdera 4
galdera 5
boton submit.

galdera 1 = Would you recommend this experiece to anyone? (Explain why shortly)
galdera 2 = Wich part was the most difficult?
galdera 3 = Was the boss challenging? (Explain why shortly)
galdera 4 = Would you like an ESport show?
galdera 5 = Tell us your favourite item
-->
<div class="container">


    <form>

        <div class="form-group">
            <label for="inputAddress">Would you recommend this experiece to anyone? (Explain why shortly)</label>
            <input type="text" class="form-control" id="inputAddress">
        </div>

        <div class="form-group">
            <label for="inputAddress">Wich part was the most difficult?</label>
            <input type="text" class="form-control" id="inputAddress">
        </div>

        <div class="form-group">
            <label for="inputAddress">Was the boss challenging? (Explain why shortly)</label>
            <input type="text" class="form-control" id="inputAddress">
        </div>

        <div class="form-group">
            <label for="inputAddress">Would you like an ESport show?</label>
            <input type="text" class="form-control" id="inputAddress">
        </div>

        <div class="form-group">
            <label for="inputAddress">Tell us your favourite item</label>
            <input type="text" class="form-control" id="inputAddress">
        </div>

    

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

</div>