@model IEnumerable<GodRun_API_el_bueno_.Models.Partida>
@{
    ViewData["Title"] = "Jokalariak";
}

<!--Component to display players name and score-->

<ul class="dropdown-menu">
    <li>
        <div class="container padinaMenu">
            <div class="col-md4 nireMenua">
              
                @foreach (var item in Model)
                {
                    @if (item.puntuazioa < 50000)
                    {
                        <a> @Html.DisplayFor(modelItem => item.employee.name) ->  @Html.DisplayFor(modelItem => item.puntuazioa)</a>

                        @Html.ActionLink("ikusi", "Index", "Partida_bakoitza", new { puntuazioa = item.puntuazioa, kills = item.kills, time = item.time, date = item.date, izena = item.employee.name, jobTitle = item.employee.jobTitle, workPhone = item.employee.workPhone, workEmail = item.employee.workEmail })
                    }
                }
            </div>
        </div>
    </li>
</ul>

