

@{
    ViewData["Title"] = "Default";
}

<h1>Default</h1>

<h4>Comments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Comments" asp-action="Index">
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" name="Comment" id="Comment"/>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" name="Jokalaria" id="player"/>
            </div>
        
            <div class="form-group">
               
                <input class="btn-dark" type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
