@model GodRun_API_el_bueno_.ViewModels.PartidaViewModel;

@{
    ViewData["Title"] = "Default";
}

<!--Component for comments form-->

<h4>Comment</h4>
<hr />
<div class="row" style="margin:0 !important">

    <form method="post" asp-controller="Comments" asp-action="Index" style="width:100%">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>

            <textarea class="form-control" name="Comment" id="Comment" rows="3"></textarea>
        </div>
        <div class="form-group">

            <input class="form-control" name="Jokalaria" id="player" value="@Model.partidak.First().employee.name" style="visibility: hidden"/>
        </div>

        <div class="form-group">

            <input class="btn-dark" type="submit" value="Submit" />
        </div>
    </form>


 

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
