@model IEnumerable<GodRun_API_el_bueno_.Models.Partida>

@{
    ViewData["Title"] = "Jokalariak";
}

<!--Component to list all gamers name with its partida´s points-->

@foreach (var item in Model)
{
    @if (item.puntuazioa > 50000)
    {
<a class="dropdown-item">
    @Html.DisplayFor(modelItem => item.employee.name)-@Html.DisplayFor(modelItem => item.puntuazioa)@Html.ActionLink("ikusi", "Index", "Partida_bakoitza", new { puntuazioa = item.puntuazioa, kills = item.kills, time = item.time, date = item.date, izena = item.employee.name, jobTitle = item.employee.jobTitle, workPhone = item.employee.workPhone, workEmail = item.employee.workEmail })
</a>


    }
}


