@page
@model GodRun_API_el_bueno_.Pages.Lore.IndexModel


@{
    ViewData["Title"] = "A bit of Lore";
}
<html>
<head>
    <title>Little of History</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="divided">

        <!-- One -->
        <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
            <div class="content">
                <h1>The Beginning</h1>
                <p class="major">Far Far away (in Oligae 7) There was a planet. </p>
                <p class="major"> X Æ A-12</p>
                <p class="major">And this is were our heroe`s history begins... </p>

            </div>
            <div class="image">
                <img src="~/images/lore_1.jpg" alt="" />
            </div>
        </section>

        <!-- Two -->
        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
            <div class="content">
                <h2>Amuchalipsis</h2>
                <p>In this planet a civilization called Namarendus was thriving until The Amuchalipsys came.</p>
                <p>All the planet was burned to ashes and only a few of them survived.</p>

            </div>
            <div class="image">
                <img src="~/images/lore_2.jpg" alt="" />
            </div>
        </section>

        <!-- Three -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Running Away</h2>
                <p>All the survivors left the planet and went far in space looking for a new start</p>
                <p>But with low fuel our hero had to land on a misterious planet.</p>
                <p>Unfortunetly he arrived to the Dark Swamps and qhen he got out the ship...</p>
                <p></p>
                <p>The swamp swallow him...</p>

            </div>
            <div class="image">
                <img src="~/images/lore_3.gif" alt="" />
            </div>
        </section>

        <!-- Four -->
        <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Finding The Exit</h2>
                <p>And here we are...</p>
                <p>This is a story of superation...</p>
                <p>This is OUR STORY</p>

            </div>
            <div class="image">
                <img src="~/images/lore_4.png" alt="" />
            </div>
        </section>

        <!-- Five -->
        <section class="wrapper style1 align-center">
            <div class="inner">
                <h2>EQUIP</h2>
                <p>Search lots of items in a randomly generated Ultimate Rogue-Like experience</p>
            </div>

            <!-- Gallery -->
            <div class="gallery style2 medium lightbox onscroll-fade-in">
                <article>
                    <a href="images/gallery/fulls/01.jpg" class="image">
                        <img src="images/gallery/thumbs/01.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Ipsum Dolor</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/02.jpg" class="image">
                        <img src="images/gallery/thumbs/02.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Feugiat Lorem</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/03.jpg" class="image">
                        <img src="images/gallery/thumbs/03.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Magna Amet</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/04.jpg" class="image">
                        <img src="images/gallery/thumbs/04.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Sed Tempus</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/05.jpg" class="image">
                        <img src="images/gallery/thumbs/05.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Ultrices Magna</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/06.jpg" class="image">
                        <img src="images/gallery/thumbs/06.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Sed Tempus</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/07.jpg" class="image">
                        <img src="images/gallery/thumbs/07.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Ipsum Lorem</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/08.jpg" class="image">
                        <img src="images/gallery/thumbs/08.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Magna Risus</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/09.jpg" class="image">
                        <img src="images/gallery/thumbs/09.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Tempus Dolor</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/10.jpg" class="image">
                        <img src="images/gallery/thumbs/10.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Sed Etiam</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/11.jpg" class="image">
                        <img src="images/gallery/thumbs/11.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Magna Lorem</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="images/gallery/fulls/12.jpg" class="image">
                        <img src="images/gallery/thumbs/12.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Ipsum Dolor</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
            </div>

        </section>

        <!-- Six -->
        <section class="wrapper style1 align-center">
            <div class="inner">
                <h2>FIGHT</h2>
                <p>Fight against different enemies without shitting yourself trying </p>
                <div class="items style1 medium onscroll-fade-in">
                    <section>
                        <span class="icon style2 major fa-gem"></span>
                        <h3>Search</h3>
                        <p>Search different items in order to have advantage against mobs</p>
                    </section>
                    <section>
                        <span class="icon solid style2 major fa-save"></span>
                        <h3>The death is the only way</h3>
                        <p>The only way to save the progress is dying :)</p>
                    </section>
                    <section>
                        <span class="icon solid style2 major fa-chart-bar"></span>
                        <h3>Find The Boss</h3>
                        <p>Overcome different challenges to beat the misterious mighty guardian of the cave </p>
                    </section>
                    <section>
                        <span class="icon solid style2 major fa-wifi"></span>
                        <h3>Explore</h3>
                        <p>Discover the mystery of what lurks in the cave</p>
                        <p>Each game is different. Our dungeons are randomly generated once you enter the game </p>
                    </section>

                </div>
            </div>
        </section>

        <!-- Seven *CUESTIONARIO
                <section class="wrapper style1 align-center">
                    <div class="inner medium">
                        <h2>Get in touch</h2>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field half">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" value="" />
                                </div>
                                <div class="field half">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" value="" />
                                </div>
                                <div class="field">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" rows="6"></textarea>
                                </div>
                            </div>
                            <ul class="actions special">
                                <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
                            </ul>
                        </form>

                    </div>
                </section>
        -->
        <!-- Footer -->
        <footer class="wrapper style1 align-center">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">Youtube</span></a></li>
                    <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p>&copy; GodRun. Design: <a href="#">Some Internet pages...</a>.</p>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>