@model GodRun_WebApi.ViewModels.PartidaViewModel;
@{
    ViewData["Title"] = "Index";
}

<h1>

    </h1>










<div class="container ">
    <h1>Partidas</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">puntuazioa</th>
                <th scope="col">kills</th>
                <th scope="col">time</th>
                <th scope="col">date</th>
            </tr>
        </thead>





        <tbody>
            @foreach (var item in Model.partidak)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.puntuazioa)</th>
                     <td>@Html.DisplayFor(modelItem => item.kills)</td>
                    <td>@Html.DisplayFor(modelItem => item.time)</td>
                    <td>@Html.DisplayFor(modelItem => item.date)</td>
                </tr>
            }
            </tbody>
    </table>


</div>
