USE [master]
GO
/****** Object:  Database [GodRunner]    Script Date: 26/01/2022 10:24:29 ******/
CREATE DATABASE [GodRunner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GodRunner', FILENAME = N'C:\SQLServer2017Media\MSSQL14.SQLEXPRESS\MSSQL\DATA\GodRunner.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GodRunner_log', FILENAME = N'C:\SQLServer2017Media\MSSQL14.SQLEXPRESS\MSSQL\DATA\GodRunner_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GodRunner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GodRunner]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 26/01/2022 10:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[comment] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_coments] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inkesta]    Script Date: 26/01/2022 10:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inkesta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Galdera1] [nvarchar](50) NULL,
	[Galdera2] [nvarchar](50) NULL,
	[Galdera3] [nvarchar](50) NULL,
	[Galdera4] [nvarchar](50) NULL,
	[Galdera5] [nvarchar](50) NULL,
	[Erabiltzailea] [nvarchar](50) NULL,
	[Data] [datetime] NULL,
 CONSTRAINT [PK_Inkesta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/01/2022 10:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Uname] [nvarchar](50) NOT NULL,
	[Pwd] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
