@model IEnumerable<GodRun_API_el_bueno_.Models.Partida>

@{
    ViewData["Title"] = "Partidak";
}

<!--Component to display employee´s name-->

@foreach (var item in Model)
{
    @if (item.puntuazioa > 50000)

    {


        <a class="dropdown-item" asp-controller="Partida" asp-action="Index" asp-route-langilea="@item.employee.name"> @Html.DisplayFor(modelItem => item.employee.name)</a>
    }
}


